openapi: 3.2.0
info:
  title: DocuPipe Schema API
  version: '1.0'
  x-source-url: https://docs.docupipe.ai/openapi/openapi.json
  x-documentation-url: https://docs.docupipe.ai/
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://app.docupipe.ai
tags:
- name: Schema
paths:
  /schema/autogenerate:
    post:
      tags:
      - Schema
      summary: AutoGenerate a Schema
      description: Generate a schema based on a list of documents. Leave the instructions empty if you want the AI to use its best judgment, or provide instructions to indicate your preference to how the schema should be generated. Best results are achieved when you provide a varied list of documents that represent the full range of type of documents you expect to process, and when you provide clear instructions to what you expect the schema to capture and how you want it to be structured.
      operationId: post_schema_autogenerate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoGenerateSchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoGenerateSchemaResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientCreditsError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - APIKeyHeader: []
      - HTTPBearer: []
  /schema/{schema_id}:
    delete:
      summary: Delete a Schema
      description: Delete a schema by its id.
      operationId: delete_schema
      security:
      - APIKeyHeader: []
      - HTTPBearer: []
      parameters:
      - name: schema_id
        in: path
        required: true
        schema:
          type: string
          title: Schema Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionResponse'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Schema
    get:
      summary: Retrieve a Schema
      operationId: get_schema
      security:
      - APIKeyHeader: []
      - HTTPBearer: []
      parameters:
      - name: schema_id
        in: path
        required: true
        schema:
          type: string
          title: Schema Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      description: Retrieve an existing schema by providing the schema's ID.
      tags:
      - Schema
  /schemas:
    get:
      summary: List Schemas
      operationId: list_schemas
      security:
      - APIKeyHeader: []
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: The maximum number of schemas to return. Maximum is 1000
          default: 20
          title: Limit
        description: The maximum number of schemas to return. Maximum is 1000
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          description: The number of schemas to skip (to paginate through the data)
          default: 0
          title: Offset
        description: The number of schemas to skip (to paginate through the data)
      - name: exclude_payload
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to exclude the jsonSchema payload
          default: true
          title: Exclude Payload
        description: Whether to exclude the jsonSchema payload
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Schema'
                title: Response List Schemas Schemas Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      description: List all of your schemas. The output here includes the jsonSchema data as well.
      tags:
      - Schema
  /schemas/search:
    get:
      summary: Search Schemas
      description: Search schemas by schema name or schema ID using case-insensitive partial matching.
      operationId: search_schemas
      security:
      - APIKeyHeader: []
      - HTTPBearer: []
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 50
          description: Search query to match against schema name or schema ID
          title: Query
        description: Search query to match against schema name or schema ID
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          description: Maximum number of results to return (1-500)
          default: 100
          title: Limit
        description: Maximum number of results to return (1-500)
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of results to skip for pagination
          default: 0
          title: Offset
        description: Number of results to skip for pagination
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Schema'
                title: Response Search Schemas Schemas Search Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Schema
  /schema/copy:
    post:
      tags:
      - Schema
      summary: Copy a Schema to Another Workspace
      description: Duplicate one of your schemas into another workspace that you administer. Pass the existing schemaId and the api key of the target workspace; the schema content and metadata are cloned as-is and assigned a new schemaId for the destination workspace.
      operationId: post_copy_schema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopySchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - HTTPBearer: []
  /schema:
    post:
      tags:
      - Schema
      summary: Add a New Schema
      description: Create a new schema manually by posting a valid JSON schema. The schema should be a valid JSON schema that represents the structured output you want to extract from documents.
      operationId: post_schema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUpdateSchemaResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientCreditsError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - APIKeyHeader: []
      - HTTPBearer: []
  /schema/edit:
    post:
      tags:
      - Schema
      summary: Edit a Schema
      description: 'Edit a schema by providing a schema ID and the parameters you want to edit. This does not create a new schema, but rather updates the existing schema. Changing the schema name is purely cosmetic, but changing the description and guidelines will affect the behavior of the schema for future standardizations. The things you can edit are:


        1. `schemaName` - The name of the schema

        2. `description` - The description of the schema

        3. `guidelines` - The guidelines for the schema


        **Note:** The `guidelines` field has a maximum length of 50,000 characters.'
      operationId: post_edit_schema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSchemaRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditSchemaResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientCreditsError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - APIKeyHeader: []
      - HTTPBearer: []
  /schemas/summary:
    get:
      tags:
      - Schema
      summary: Get Schema Count
      description: Get the total number of schemas for the authenticated user.
      operationId: get_schema_summary
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - APIKeyHeader: []
      - HTTPBearer: []
components:
  schemas:
    ErrorResponse:
      properties:
        detail:
          items:
            type: string
          type: array
          title: Detail
          description: Details about the error
      type: object
      required:
      - detail
      title: ErrorResponse
    InsufficientCreditsError:
      properties:
        detail:
          items:
            type: string
          type: array
          title: Detail
          description: Explanation about the exhausted credits
      type: object
      required:
      - detail
      title: InsufficientCreditsError
    AutoGenerateSchemaResponse:
      properties:
        jobId:
          type: string
          title: Job ID
          description: Unique identifier for the autogenerate schema job.
        status:
          $ref: '#/components/schemas/ProcessingStatus'
          title: Job Status
          description: Current status of the job.
        schemaId:
          type: string
          title: Schema ID
          description: Unique identifier for the schema being generated. The schema is only available when the job is completed.
        schemaName:
          type: string
          title: Schema Name
          description: Name of the schema being generated.
        standardizationIds:
          items:
            type: string
          type: array
          title: Standardization IDs
          description: List of standardization IDs for the documents used to generate the schema. These will only become available after schema generation is complete, and only if standardizeUsingSchema is set to true.
        standardizationJobIds:
          items:
            type: string
          type: array
          title: Standardization Job IDs
          description: List of standardization job IDs for the documents used to generate the schema. These will only become available after schema generation is complete, and only if standardizeUsingSchema is set to true.
      type: object
      required:
      - jobId
      - status
      - schemaId
      title: AutoGenerateSchemaResponse
    Schema:
      properties:
        schemaId:
          type: string
          title: Schema ID
          description: Unique identifier of the schema.
        schemaName:
          type: string
          title: Schema Name
          description: Name of the schema.
          default: unnamed
        origin:
          type: string
          title: Origin
          description: Where this schema was created.
        sourceDocumentId:
          type: string
          title: Source Document ID
          description: Document ID used as the primary sample when this schema was created.
        sourceDocumentName:
          type: string
          title: Source Document Name
          description: Document name used as the primary sample when this schema was created.
        sourceChatId:
          type: string
          title: Source Chat ID
          description: Chat session that originally created this schema, if any.
        fieldPreview:
          items:
            type: string
          type: array
          title: Field Preview
          description: Short list of schema field names for picker/list rows.
        jsonSchema:
          additionalProperties: true
          type: object
          title: JSON Schema
          description: The JSON schema that defines the structure of the data.
        guidelines:
          type: string
          title: Guidelines
          description: Guidelines for the schema.
        jobId:
          type: string
          title: Job ID
          description: Unique identifier of the job that last modified the schema.
        timestamp:
          type: string
          title: Timestamp
          description: Timestamp of the schema creation.
      type: object
      required:
      - schemaId
      title: Schema
      description: Public-facing representation of DocuPipeSchema.
    ProcessingStatus:
      type: string
      enum:
      - processing
      - completed
      - error
      title: ProcessingStatus
    SchemaSummary:
      properties:
        totalSchemas:
          type: integer
          title: Total Schemas
          description: Total number of schemas.
      type: object
      required:
      - totalSchemas
      title: SchemaSummary
    PostSchemaRequest:
      properties:
        schemaName:
          type: string
          title: Schema Name
          description: Name of the new schema.
        jsonSchema:
          additionalProperties: true
          type: object
          title: JSON Schema
          description: The new JSON schema to add. Must be a valid JSON schema (https://json-schema.org/).
        guidelines:
          type: string
          title: Guidelines
          description: Guidelines to apply to the schema to documents when standardizing.
      type: object
      required:
      - schemaName
      - jsonSchema
      title: PostSchemaRequest
    EditSchemaResponse:
      properties:
        success:
          type: boolean
          title: Success
          description: Whether the schema was successfully edited.
      type: object
      required:
      - success
      title: EditSchemaResponse
    AutoGenerateSchemaRequest:
      properties:
        schemaName:
          type: string
          title: Schema Name
          description: Name of the schema to be defined. For example rental contracts
        documentIds:
          items:
            type: string
          type: array
          title: Document IDs
          description: List of document IDs to use for schema generation.
        dataset:
          type: string
          title: Dataset
          description: The dataset to which the documents belong.
        instructions:
          type: string
          title: Create Instructions
          description: Instructions on how to create the schema.
          examples:
          - Create a schema that includes the rental amount as a number, and currency as a separate currency code string.
        guidelines:
          type: string
          title: Apply Guidelines
          description: Guidelines to apply to the schema to documents when standardizing.
          examples:
          - The doctor signature is always on the last page, at the bottom right corner.
        standardizeUsingSchema:
          type: boolean
          title: Standardize Using Schema
          description: Whether to standardize the input documents using the newly created schema after generation.Note that standardizing documents costs credits just as if you had called the `/standardize` endpoint directly
          default: true
        standardizationMode:
          $ref: '#/components/schemas/StdMode'
          title: Standardization Mode
          description: '*Advanced Feature*

            Mode of standardization to run, if standardizing using the schema.'
          default: default
      type: object
      title: AutoGenerateSchemaRequest
    EditSchemaRequest:
      properties:
        schemaId:
          type: string
          title: Schema ID
          description: Unique identifier of the schema which we are editing.
        schemaName:
          type: string
          title: Schema Name
          description: New name to assign to the schema.
        description:
          type: string
          title: Description
          description: New description to assign to the schema.
        guidelines:
          type: string
          title: Guidelines
          description: New guidelines to assign to the schema.
      type: object
      required:
      - schemaId
      title: EditSchemaRequest
    AddUpdateSchemaResponse:
      properties:
        success:
          type: boolean
          title: Success
          description: Whether the schema was successfully added.
        schemaId:
          type: string
          title: Schema ID
          description: Unique identifier of the new schema.
        jobId:
          type: string
          title: Job ID
          description: Unique identifier of the job that made the schema.
        timestamp:
          type: string
          title: Timestamp
          description: Timestamp of the creation of the schema.
      type: object
      required:
      - success
      - schemaId
      - jobId
      - timestamp
      title: AddUpdateSchemaResponse
    CopySchemaRequest:
      properties:
        schemaId:
          type: string
          title: Schema ID
          description: Unique identifier of the schema to copy.
        targetWorkspaceApiKey:
          type: string
          title: Target Workspace API key
          description: API key of the target workspace to copy the schema to.
      type: object
      required:
      - schemaId
      - targetWorkspaceApiKey
      title: CopySchemaRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    DeletionResponse:
      properties:
        success:
          type: boolean
          title: Success
          description: Whether the deletion was successful or not.
      type: object
      required:
      - success
      title: DeletionResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    StdMode:
      type: string
      enum:
      - default
      - sectionBased
      - spatial
      title: StdMode
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
    HTTPBearer:
      type: http
      scheme: bearer
